.container{
    position: absolute;
    z-index: 10;
    top: 96%;
    right: 0.3%;
    max-width: 360px;
    width: 100%;
    height: 481.250px;
    font-family: inherit;
    background-color: #242526;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.container_main{
    margin-top: 8px;
}
.container_user{
    width: 344px;
    height: 74px;
    padding: 0px 8px;
}
.container_user_a{
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    flex-basis: auto;
}
.container_user_a:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.container_user_a_2{
    padding: 0px 8px;
    box-sizing: border-box;
    min-height: 44px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.container_user_avatar{
    width: 60px;
    height: 60px;
    margin: 8px 12px 8px 0px;
}
.avatar{
    min-width: 60px;
    min-height: 60px;
}
.container_user_name{
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container_user_name_seeprofile{
    padding: 12px 0px;
}
.container_user_name_seeprofile_2{
    margin-top: -5px;
    margin-bottom: -5px;
    display: flex;
    flex-direction: column;

}
.container_user_nameuser{
    margin: 5px 0;
}
.username_span{
    color: #e4e6eb;
    font-weight: 600;
    text-align: left;
    line-height: 1.1765;
    max-width: 100%;
    font-size: 1.0625em;
    font-family: var(--font-family-segoe);
}
.container_user_seeprofile{
    /* margin: 5px 0px; */
}
.see_profile{
    color: #b0b3b8;
    font-weight: normal;
    font-size: 0.9375em;
    max-width: 100%;
    line-height: 1.3333;
}
.container_line_empty{
    margin: 8px 16px;
    background-color: #3e4042;
    width: 328px;
    height: 1px;
}
.container_give_feedback{
    width: 344px;
    height: 53px;
    padding: 0px 8px;
}
.container_give_feedback_2{
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    width: 344px;
    height: 53px;
}
.container_give_feedback_2:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.container_main_feedback{
   width: 328px;
   height: 53px;
   padding: 8px; 
   box-sizing: border-box;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.container_icon_feedback{
    width: 36px;
    height: 36px;
    margin: 8px 12px 8px 0px;
}
.container_icon_feedback2{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    text-align: center;
}
.FeedbackIcon{
    vertical-align: middle;
    margin-top: 6px;
    width: 20px;
    height: 20px;
    color: #fff;
}
.container_text_feedback{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
}
.container_text_feedback_2{
    padding: 12px 0px;
}
.container_text_feedback_3{
    margin: -5px 0;
    height: 39px;
    width: 280px;
}
.container_text_top_feedback{
    /* margin: 5px 0; */
}
.container_span_feedback{
    color:  #e4e6eb;
    font-size: .9375em;
    text-align: left;
    font-weight: 500;
    line-height: 1.3333;
}
.container_span_feedback2{
    color: #b0b3b8;
    font-weight: normal;
    line-height: 1.2308;
    text-align: left;
    font-size: 0.8125em;
}
.container_5_container{
    padding: 4px 0px 8px 0px;
    width: 360px;
    height: 241px;
}
.container_5_container_2{
    width: 360px;
    height: 261px;
    margin-top: -4px;
    margin-bottom: -16px;
}
.container_1_switchAccount{
    padding: 0px 8px;
    width: 344px;
    height: 53px;
}
.container_1_switchAccount_2{
    border-radius: 8px;
    cursor: pointer;
}
.container_1_switchAccount_2:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.container_1_switchAccount_3{
    width: 328px;
    height: 53px;
    padding: 0px 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.container_avatar_switch{
    width: 36px;
    height: 36px;
    margin: 8px 12px 8px 0px;
}
.container_text_switch{
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.container_text_switch_2{
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
    width: 244px;
}
._text_switch_top{
    height: 9px;
    margin: 5px 0px;
}
._text_switch_top span{
    color: #e4e6eb;
    font-size: 0.9375;
    font-weight: 500;
    line-height: 1.3333;
}
._text_switch_bot{
    margin: 5px 0px;
}

._text_switch_bot span{
    font-weight: normal;
    line-height: 1.2308;
    font-size: .8125em;
    color: #b0b3b8;
}
.container_icon_switch{
    width: 24px;
    height: 24px;
    margin: 8px 0px 8px 12px;
    cursor: pointer;
}
.container_icon{
    display: flex;
    align-items: center;
    color: #b0b3b8;
}
.container_icon:hover{
    position: absolute;
    border-radius: 50%;
    padding: 5px;
    margin-left: -5px;
    margin-top: -5px;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 10;
}
.container_2_setting_privacy{
    padding: 0px 8px;   
    height: 52px;
    width: 344px;
}
.container_2_setting_privacy_2{
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.container_2_setting_privacy_2:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.container_2_setting_privacy_3{
    height: 52px;
    padding: 0px 0px 0px 8px;
    display: flex;
    align-items: center;
}
.container_icon_setting_privacy{
    width: 36px;
    height: 36px;
    margin: 8px 8px 8px 0px;
    display: flex;
    align-items: center;
}
.container_icon_setting_privacy_2{
    width: 36px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SettingsIcon{
    width: 20px;
    height: 20px;
    color: #e4e6eb;
}
.container_text_setting_privacy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    
}
.container_text_setting_privacy_2{
    margin: 5px 0px;
}
.container_text_setting_privacy_2 span{
    height: 20px;
    font-size: .9375em;
    font-weight: 500;
    line-height: 1.3333;
    color: #e4e6eb;
}
.container_arrow{
    width: 24px;
    height: 24px;
    margin: 12px 9px 12px 12px;
}
.container_arrow_2{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.ArrowForwardIosIcon{
    width: 24px;
    height: 24px;
    color: #b0b3b8;
}
.container_copy{
    width: 328px;
    height: 25.250px;
    padding: 16px;
    
}
.container_copy span{
    color: #b0b3b8;
    font-weight: normal;
    line-height: 1.2308;
    font-size: .8125em; 
     
}
.container_copy span ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.container_copy span ul li{
    margin-right: 3px;   
    cursor: pointer;
    border-bottom: 1px solid transparent;
}
.container_copy span ul li:hover{
    border-bottom: 1px solid #b0b3b8;
}
.container_button_log_out{
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
}
