.containerMiddleIcon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    max-width: 680px;
    width: 100%;
}
.container_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 129.6px;
    height: 60px;
    width: 100%;
}
.container_icon_2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 129.6px;
    width: 100%;
    height: 60px;
}
.container_icon_center{
    box-sizing: border-box;
    height: 52px;
    cursor: pointer;
    position: relative;
    max-width: 129.6px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.container_icon_center_2{
    box-sizing: border-box;
    height: 52px;
    cursor: pointer;
    position: relative;
    max-width: 129.6px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.container_icon_center:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.container_empty{
    max-width: 129.6px;
    width: 100%;
    position: absolute;
}
.container_empty_active{
    border-bottom: 3px solid #2d88ff;
    max-width: 129.6px;
    width: 100%;
    position: absolute;
    top: 58.3px;
    border-radius: 3px;
}
.IconMiddle{
    color: #b0b3b8;
    width: 28px;
    height: 28px;
    /* #2d88ff */
}
.IconMiddle_active{
    color: #2d88ff;
}
.DehazeIcon_none_block{
    display: none;
}
@media (max-width: 525px){

    .container_icon{
        display: none;
    }
    .DehazeIcon_none_block{
        display: block;
        color: #b0b3b8;
        width: 28px;
        height: 28px;
    }
    .containerMiddleIcon{
        justify-content: center;
    }
} 